Font Families {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-color: #6d21d1;
    font-family: 'Roboto', sans-serif;;
    font-size: 1rem;
    font-weight: 400;
    color: black;
    word-wrap: break-word;
}

p {
    display: inline-block;
    margin: 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004) !important;
}

/* Login */

#content-login {
    margin: 0 auto;
    max-width: 64rem;
    padding: 20px;
}

#header-login {
    min-height: 15vh;
}

#main-login {
    min-height: calc(70vh - 40px);
}

#main-loginbox {
    padding: 10px;
    background-color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: var(--border-top-width) solid white;
    border-radius: 30px;
    width: 400px;
    height: 250px;
}

#main-loginform {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#passw, #email {
    width: 300px;
    height: 30px;
}

#login {
    text-align: right;
}

#footer-login {
    min-height: 15vh;
}

/* Home */

:root{
    --padding: 20px;
    --border-radious: 30px;
    --border-top-width: 10px
}

#content-home {
    margin: 0px;
    padding: 0px;
}

#header-home {
    padding: var(--padding) var(--padding) 0 var(--padding);
    min-height: 15vh;
}

#main-home {
    padding: calc(var(--padding) - var(--border-top-width)) var(--padding) var(--padding);
    border-top: var(--border-top-width) solid white;
    border-radius: var(--border-radious) var(--border-radious) 0 0 ;
    background-color: white;
    min-height: calc(70vh - 80px);
}

#footer-home {
    padding: 0 var(--padding) var(--padding);
    background-color: white;
    min-height: 15vh;
}
